{% extends 'base.html.twig' %}

{% block title %}New Eleve{% endblock %}

{% block contenu %}
    <h1>Ajouter Eleve</h1>

    {{ include('eleve/_form.html.twig') }}

    <a href="{{ path('eleve_index') }}">back to list</a>
{% endblock %}
