<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AEEM{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{asset('/css/bootstrap.css')}}">
    	{% endblock %}
    </head>
    <body>
        {% block contenu %}{% endblock %}
        {% block javascripts %}
        	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     		 <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
