{% extends 'base.html.twig' %}

{% block contenu %}

<h1>Formulaire d'ajout d'un eleve</h1>
<div class="card">
  <div class="card-body">
  <h5 class="card-title">Ajout d'un eleve</h5>
  <p class="card-text">

    {{ form(vueFormulaire) }}

    </p>
    </div>
</div>

{% endblock %}
