{% extends 'base.html.twig' %}

{% block contenu %}
	<h1 style="text-align:center; margin-top:50px">Gestion des subventions<h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<a class="btn btn-outline-primary btn-lg btn-block" href="" role="button" style="line-height:50px; margin-top:100px;">Ajouter mairie</a>
			<a class="btn btn-outline-primary btn-lg btn-block" href="" role="button" style="line-height:50px; margin-top:15px">Supprimer mairie</a> 
			<a class="btn btn-outline-primary btn-lg btn-block" href="" role="button" style="line-height:50px; margin-top:15px">Modifier mairie</a> 
			<a class="btn btn-outline-primary btn-lg btn-block" href="" role="button" style="line-height:50px; margin-top:15px">Consulter mairie</a> 
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>	


{% endblock %}