{% extends 'base.html.twig' %}

{% block contenu %}
	<h1 style="text-align:center">Bienvenue !<h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<a class="btn btn-outline-primary btn-lg btn-block" href="/GestionEleves" role="button">Gestion Elèves</a>
			<a class="btn btn-outline-primary btn-lg btn-block" href="/GestionProfesseurs" role="button">Gestion Professeurs</a> 
			<a class="btn btn-outline-primary btn-lg btn-block" href="/GestionEtablissements" role="button">Gestion Etablissements</a> 
			<a class="btn btn-outline-primary btn-lg btn-block" href="/GestionSubventions" role="button">Gestion Subventions</a> 
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>	


{% endblock %}
