{% extends 'base.html.twig' %}

{% block contenu %}
	<h1 style="text-align:center; margin-top:50px">Bienvenue !<h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<a class="btn btn-outline-primary btn-lg btn-block" href="/gestionEleves" role="button" style="line-height:50px; margin-top:100px">Gestion Elèves</a>
			<a class="btn btn-outline-primary btn-lg btn-block" href="/gestionProfesseurs" role="button" style="line-height:50px; margin-top:15px">Gestion Professeurs</a> 
			<a class="btn btn-outline-primary btn-lg btn-block" href="/gestionEtablissements" role="button" style="line-height:50px; margin-top:15px">Gestion Etablissements</a> 
			<a class="btn btn-outline-primary btn-lg btn-block" href="/gestionSubventions" role="button" style="line-height:50px; margin-top:15px">Gestion Subventions</a> 
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>	


{% endblock %}
