{% extends 'base.html.twig' %}

{% block contenu %}
	<h1 style="text-align:center; margin-top:50px">Gestion des établissements<h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('AjouterEtablissement') }}" role="button" style="line-height:50px; margin-top:100px;">Ajouter établissement</a>
			<a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('etablissement_index') }}" role="button" style="line-height:50px; margin-top:15px">Supprimer établissement</a> 
			<a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('etablissement_index') }}" role="button" style="line-height:50px; margin-top:15px">Modifier établissement</a> 
			<a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('etablissement_index') }}" role="button" style="line-height:50px; margin-top:15px">Consulter établissement</a> 
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>	


{% endblock %}